@keyframes waveFlare {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#flair {
  transform-origin: center;
  animation: waveFlare 4s infinite ease-in-out;
  transition: transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}
